@font-face {
  font-family: 'Funnel Display';
  src: url('fonts/Funnel_Display') format('ttf'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  url('fonts/Funnel_Display/FunnelDisplay-VariableFont_wght.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'Ultra';
  src: url('fonts/Ultra') format('ttf'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  url('fonts/Ultra/Ultra-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'Sloop';
  src: url('fonts/Sloop') format('ttf'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  url('fonts/Sloop/sloop-scriptthree.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'Tektur';
  src: url('fonts/Tektur') format('ttf'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  url('fonts/Tektur/Tektur-VariableFont_wdth,wght.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'Castoro';
  src: url('fonts/Castoro') format('ttf'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  url('fonts/Castoro/Castoro-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

:root {
  --background-color: #2D2D2D;
  --font-color: #fff;
  --link-color: #adadad;

  --accent-color1: #8e8e8e;
  --accent-color2: #6c6c6c;
  --accent-color3: #474747;

  --border-color: #fff3;
  --hover-color: rgb(38, 38, 38, 0.2);
}

::-webkit-scrollbar {
  display: none;
}

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
  &.menu-active {
    overflow: hidden;
  }
}

/* Body */
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: 0.5s;
  align-items: center;
  /*background-color: var(--background-color);*/
  color: var(--font-color);
  letter-spacing: 0.1em;
  font-size: 24pt;
  text-align: center;
  padding: 0;
  min-height: 100vh;
  margin: 0;
  font-family: "Funnel Display", sans-serif;
  font-weight: 400;
  filter: contrast(120%) brightness(120%);
  background:
          radial-gradient(circle at 50% 15%, rgba(168, 167, 167, 0.75), rgb(57, 55, 55)),
          url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='8.87' numOctaves='5' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  animation: background 1s forwards 1.3s;
  user-select: none;
  &.menu-active {
    overflow: hidden;
  }
}

h1 {
  transition: 0.5s;
  font-size: 15rem;
  padding: 0;
  margin: 0;
  color: var(--font-color);
  & span {
    display: inline-block;
    opacity: 0;
    transform: translateY(100%);
    animation: showup 0.5s ease-in-out forwards;
  }
}

h2 {
  transition: 0.5s;
  color: var(--font-color);
  font-size: 40px;
  margin: 0;
  height: 60px;
  z-index: 3;
  animation: showup 2s cubic-bezier(0.2, 0.8, 0.25, 1);
  background-color: transparent;
}

h3 {
  margin: 0;
  height: fit-content;
}

hr {
  width: 50%;
  margin: -1vh 0 0;
  animation: showup 2s cubic-bezier(0.2, 0.8, 0.25, 1);
}

a {
  text-decoration: none;
  color: var(--font-color);
  cursor: pointer;
  /*&:hover {
    font-family: Castoro, sans-serif;
  }*/
}

a.disabled{
  pointer-events: none;
  text-decoration: line-through;
}

/*opening animation*/
first, second, third {
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  will-change: transform, height;
  transform-origin: top;
}

first {
  background-color: var(--accent-color1);
  z-index: 5;
  animation-delay: 0s;
  animation: opening 1.4s ease-in-out forwards;
}

second {
  background-color: var(--accent-color2);
  z-index: 4;
  animation-delay: 0.1s;
  animation: opening 1.6s ease-in-out forwards;
}

third {
  background-color: var(--accent-color3);
  z-index: 3;
  animation-delay: 0.3s;
  animation: opening 1.8s ease-in-out forwards;
}

/*menu*/
#menu-button {
  display: flex;
  position: sticky;
  background: none;
  align-items: center;
  color: #fff;
  border: 1px var(--border-color) solid;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  top: 20px;
  right: 20px;
  padding: 15px;
  margin: 0 0 auto auto;
  box-sizing: border-box;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  will-change: background-color;
  transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
  & img {
    height: 20px;
    width: 20px;
  }
  &:hover {
    background-color: var(--hover-color);
  }
}

menu {
  display: flex;
  position: sticky;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  width: 100%;
  right: 0;
  top: 0;
  padding: 0;
  margin: -50px 0 0 0;
  background: var(--accent-color1);
  transform: scaleY(0);
  transform-origin: top;
  will-change: transform, height;
  transition: 1s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
  & li a {
    opacity: 0;
  }
  &.active {
    transform: scaleY(1);
  }
  &.active li {
    list-style: none;
    justify-content: center;
    width: fit-content;
    & a {
      font-size: 24pt;
      color: var(--font-color);
      display: block;
      padding: 10px 20px;
      opacity: 1;
      transition: opacity .3s cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  /*menu opening and closing animations*/
  &.active {
    first{
      transition-delay: 0s;
      animation: opening 1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
      transform-origin: bottom;
      z-index: 3;
    }
    second {
      transition-delay: .1s;
      animation: opening 1.3s cubic-bezier(0.4, 0, 0.2, 1) forwards;
      transform-origin: bottom;
      z-index: 2;
    }
    third {
      transition-delay: .2s;
      animation: opening 1.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
      transform-origin: bottom;
      z-index: 1;
    }
  }
  &:not(.active) {
    first{
      transition-delay: .2s;
      animation: opening .7s cubic-bezier(0.4, 0, 0.2, 1) forwards;
      transform-origin: top;
      background: var(--accent-color1);
      z-index: 3;
    }
    second {
      transition-delay: .2s;
      animation: opening 1.1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
      transform-origin: top;
      background: var(--accent-color2);
      z-index: 2;
    }
    third {
      transition-delay: .2s;
      height: 100%;
      animation: none;
      z-index: 1;
    }
  }
}

/*main page*/
landing{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
}

/* About Me Section */
#aboutme {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: calc(100% / 3);
  /*grid-template-columns: 1fr;
  grid-template-rows: repeat(6);
  grid-gap: 1rem;*/
  text-align: center;
  margin: 10vh 0 0;
  padding: 0;
  animation: showup 2s cubic-bezier(0.2, 0.8, 0.25, 1);
}

#aboutme p,
#experience p,
#projects p{
  text-align: center;
  font-size: 1rem;
  animation: showup 2s cubic-bezier(0.2, 0.8, 0.25, 1);
}

/*Experience section*/
#experience {
  display: flex;
  flex-direction: column;
  margin: 10vh 0 0;
  padding: 0;
  height: 100vh;
  width: 50%;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 48pt;
  text-align: left;
  height: 100%;
  width: 75%;
  margin: 10vh auto;
}

.card {
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  background: transparent;
  /*border: 1px solid var(--border-color);*/
  will-change: background-color, transform;
}
.card img {
  height: 32pt;
  width: 32pt;
}

.card:nth-child(1) {
  margin-left: 62%;
}
.card:nth-child(2) {
  margin-left: 12%;
}
.card:nth-child(3) {
  margin-left: 37%;
}
.card:nth-child(4) {
  margin-left: 53%;
}
.card:nth-child(5) {
  margin-left: 23%;
}
.card:nth-child(6) {
  margin-left: 9%;
}
.card:nth-child(7) {
  margin-left: 39%;
}

.card:hover {
  background: var(--hover-color);
  cursor: pointer;
}

/* Projects Section */
#projects {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 10vh 0 0;
  padding: 0;
  width: 50%;
}

.projects {
  margin: 3rem auto;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.project-card {
  width: 100%;
  border-radius: 0.25rem;
  border: 1px var(--border-color) solid;
  padding: 0.5rem 0.75rem;
  box-sizing: border-box;
  height: fit-content;
  display: flex;
  flex-direction: column;
  text-align: left;
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--link-color);
  margin-bottom: 1rem;
  animation: showup 2s cubic-bezier(0.2, 0.8, 0.25, 1);
  &:hover {
    background-color: var(--hover-color);
    color: #fff;
  }
}

.card-image {
  width: 100%;
  height: 120px;
  overflow: hidden;
  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.card-body {
  text-align: left;
  padding: 20px;
  flex-grow: 1;
}

.card-date {
  margin-top: 0.5rem;
  font-size: 14px;
  color: #888;
}

.card-description {
  text-align: left;
  & h4 {
    font-size: 18px;
    margin: 0;
  }
  & p {
    font-size: 16px;
    margin: 0 0 15px 0;
  }
}

.card-tags {
  display: flex;
}

.tag {
  background-color: #444;
  padding: 0.25rem;
  border-radius: 5px;
  font-size: 12px;
  color: #ccc;
  border: 1px solid #555;
  margin-right: 0.25rem;
}

/*footer section*/
footer {
  height: 7.5vh;
  color: var(--link-color);
  text-align: left;
  display: flex;
  width: 100%;
  gap: 5rem;
  z-index: 0;
  padding: 0;
  transition: .2s;
  font-size: 16pt;
  background-color: var(--hover-color);
  & a {
    color: var(--link-color);
    position: relative;
    /*padding: 0.5em 0.8em;*/
    user-select: none;
    transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }
  #contact {
    width: calc(100vw/3);
    text-align: center;
    horiz-align: center;
    margin: auto;
  }
  #links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    /*height: 5vh;*/
    & a {
      padding: 10px;
      width: 24px;
      height: 24px;
      background: var(--background-color);
      align-content: center;
      border-radius: 50%;
      & img {
        filter: brightness(75%);
        width: 24px;
        height: 24px;
        transition: .2s;
      }
      & img:hover {
        filter: brightness(100%);
      }
    }
  }
}

/* Media */
@media (min-width: 900px) {
  .nav {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  first, second, third {
    height: 100vh;
  }
  menu {
    height: 100vh;
  }
  h1 {
    font-size: 70px;
    height: 80px;
    line-height: 80px;
  }
  h2 {
    font-size: 30px;
  }
  #aboutme,
  #experience,
  #projects,
  .projects{
    width: 80vw;
    margin-top: 1vh;
    height: fit-content;
    min-height: 100vh;
  }
  .skills {
    width: 100%;
    font-size: 16pt;
    gap: 1rem;
  }
  footer {
    display: flex;
    position: relative;
    font-size: 8pt;
    & #links a img,
    #links a {
      height: 14px;
      width: 14px;
    }
  }
}

/* Animations */
@keyframes opening {
  0% {
    transform: scaleY(1);
  }
  /*50% {
    transform: scaleY(1);
  }*/
  100% {
    transform: scaleY(0);
  }
}

@keyframes showup {
  0% {
    opacity: 0;
    transform: translate(0, 15%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}