/*default red theme*/
:root{
  --background-color: #101010;
  --font-color: #fff;
  --color-variant-1: #7e2839;
  --color-variant-2: #950740;
  --color-variant-3: #c3073f;
  --link-color: #c3073f;

  --bright-background-color: #e3ddcf;
  --bright-font-color: #101010;
  --bright-color-variant-1: #81bc90;
  --bright-color-variant-2: #54805f;
  --bright-color-variant-3: #334a39;
  --bright-link-color: #689775;
}

/* bright style */

.bright{
  transition: .5s;
  color: var(--bright-font-color);
}
.bright a:hover{
  color: var(--bright-link-color);
}

.bright .skill{
  transition: .5s;
  color: var(--bright-color-variant-2);
}

.bright-bg{
  transition: .5s;
  background-color: var(--bright-background-color);
}
.bright-h1{
  transition: .5s;
  background-image: linear-gradient(
    90deg,
    var(--bright-color-variant-1),
    var(--bright-color-variant-2),
    var(--bright-color-variant-1)
  );
  animation: name duration timing-function delay iteration-count direction fill-mode;
}

Button {
  color: #fff;
  border: 1px solid;
  border-radius: 24px;
  background: none;
  width: 32px;
  height: 32px;
  text-align: center;
  display: block;
  position: fixed;
  margin: 20px 0 0 20px;
  padding: 0;
}

img{
  transition: .5s;
  height: 16px;
  width: 16px;
}

/* body */
body {
  background-color: var(--background-color);
  color: var(--font-color);
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-size: 1.3em;
  text-align: center;
  padding: 0;
  height: 100vh;
  margin: 0rem;
  font-family: "Space Mono", monospace;
  /* font-family: 'Space Mono', monospace; */
  position: relative;
  overflow: visible;
}

#bg {
  z-index: -1;
  position: fixed;
  overflow: hidden;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation .5s infinite;
  opacity: .75;
}

@keyframes bg-animation {
  0% { transform: translate(0,0) }
  10% { transform: translate(-5%,-5%) }
  20% { transform: translate(-10%,5%) }
  30% { transform: translate(5%,-10%) }
  40% { transform: translate(-5%,15%) }
  50% { transform: translate(-10%,5%) }
  60% { transform: translate(15%,0) }
  70% { transform: translate(0,10%) }
  80% { transform: translate(-15%,0) }
  90% { transform: translate(10%,5%) }
  100% { transform: translate(5%,0) }
}

.text {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 175vh;
  user-select: none;
}

h1 {
  font-size: 7rem;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10vh;
  padding: 0;
  /* z-index: 3;
  height: 85px;
  line-height: 85px;
  width: 280px; */
  animation: showup 2s, textclip 2.5s linear infinite;
  font-weight: bold;
  background-image: linear-gradient(
    90deg,
    var(--color-variant-1),
    var(--color-variant-2),
    var(--color-variant-3),
    var(--color-variant-1)
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

h2 {
  color: var(--font-color);
  background-size: cover;
  text-transform: uppercase;
  font-size: 40px;
  margin: 0;
  padding: 0;
  height: 60px;
  z-index: 3;
  animation: showup 2s ease-out;
  font-weight: bold;
}

.nav {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  padding: 0;
  z-index: 3;
}

.nav * {
  box-sizing: border-box;
  transition: all .35s ease;
  animation: showup 2s ease-out;
}

.nav li {
  display: inline-block;
  list-style: outside none none;
  margin: .5em 1em;
  padding: 0;
}

.nav a {
  color: var(--font-color);
  position: relative;
  text-decoration: none;
  padding: .5em .8em;
  font-size: 20px;
  user-select: none;
  -webkit-transition: color .2s;
  -moz-transition: color .2s;
  -ms-transition: color .2s;
  -o-transition: color .2s;
  transition: color .2s;
}

.nav a:hover{
  color: var(--link-color);
}

.fancy > .letter{
  display: inline-block;
}

.fancy:hover > .letter:nth-child(1){
  transform:  translate(20%, -30%) rotate(12deg);
}
.fancy:hover > .letter:nth-child(2){
  transform:  translate(15%, 10%) rotate(-4deg);
}
.fancy:hover > .letter:nth-child(3){
  transform:  translate(15%, -27%) rotate(14deg);
}
.fancy:hover > .letter:nth-child(4){
  transform:  translate(-14%, -5%) rotate(-23deg);
}
.fancy:hover > .letter:nth-child(5){
  transform:  translate(-13%, 5%) rotate(-13deg);
}
.fancy:hover > .letter:nth-child(6){
  transform:  translate(-10%, -20%) rotate(12deg);
}
.fancy:hover > .letter:nth-child(7){
  transform:  translate(4%, 10%) rotate(-5deg);
}
.fancy:hover > .letter:nth-child(8){
  transform:  translate(14%, -33%) rotate(-24deg);
}
.fancy:hover > .letter:nth-child(9){
  transform:  translate(20%, 10%) rotate(5deg);
}

hr {
  width: 75vw;
  margin: 15vh auto 15vh auto;
  animation: showup 2s ease-out;
}

#aboutme {
  width: 60%;
  display: block;
  text-align: center;
  animation: showup 1.75s ease-out;
}
#aboutmetext {
  text-align: center;
  font-size: 1rem;
  letter-spacing: normal;
  margin-left: 10vw;
  margin-right: 10vw;
  animation: showup 2s ease-out;
}

.knowledge{
  text-align: center;
}
.skill {
  font-size: 1.5rem;
  list-style-type: none;
  color: var(--link-color);
  animation: showup 2s ease-out;
}

/* .text:has(.fancy:hover) .effect:not(.fancy){
  opacity: .2;
} */

@media (min-width: 900px) {
  .nav { grid-template-columns: repeat(3, 1fr);}

  #aboutme{width:80%;}
}
@media (max-width: 900px) {

  body{
    margin-top: 12.5vh;
    overflow: visible;
  }

  .text {height: 185vh;}

  #aboutme{width: 90%;}

  h1{
    margin-bottom: 10vh;
    font-size: 90px; height: 70px;
    line-height: 70px;
  }

  h2{font-size: 30px;}
  .nav {margin: 0; grid-gap: 3rem;}
  .text{margin-top: -3vh;}

  hr{margin: 10vh 0 5vh 0;}
  #aboutme > :nth-child(1), #aboutme >:nth-child(3){
    margin-top: 5vh;
  }

}

@keyframes showup {
  0% {opacity: 0; transform: translate(0, 75%);}
  100% {opacity: 1; transform: translate(0, 0);}
}

@keyframes textclip {
  from{background-position: 0% center;}
  to {background-position: 200% center;}
}


/* mint theme */
/*:root{
  --background-color: #232422;
  --font-color: #fff;
  --color-variant-1: #81bc90;
  --color-variant-2: #4d7056;
  --color-variant-3: #334a39;
  --link-color: #689775;
}*/


/* experimental */
/* @keyframes bg-animation {
  0% { transform: translate(0,0) }
  10% { transform: translate(-5%,-5%) }
  20% { transform: translate(-10%,5%) }
  30% { transform: translate(5%,-10%) }
  40% { transform: translate(-5%,15%) }
  50% { transform: translate(-10%,5%) }
  60% { transform: translate(15%,0) }
  70% { transform: translate(0,10%) }
  80% { transform: translate(-15%,0) }
  90% { transform: translate(10%,5%) }
  100% { transform: translate(5%,0) }
}
.bg {
  z-index: -1;
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation .5s infinite;
  opacity: .9;
  visibility: visible;
  padding: 0;
} */
