body {
  background-color: #1a1a1a;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-size: 1.3em;
  text-align: center;
  padding: 0;
  height: 100vh;
  margin: 0rem;
  overflow: hidden;
  font-family: 'Space Mono', monospace;
}

.text {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95vh;
  user-select: none;
} 

h1 {
  background-image: url(https://assets.materialup.com/uploads/40e7f9d8-58b3-4b23-b450-e0c11035c189/preview.gif);
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 120px;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10vh;
  padding: 0;
  z-index: 3;
  height: 85px;
  line-height: 85px;
  width: 280px;
  animation: showup 3.5s;
  font-weight: bold;
}

h2 {
  color: white;
  background-size: cover;
  text-transform: uppercase;
  font-size: 40px;
  margin: 0;
  padding: 0;
  height: 60px;
  z-index: 3;
  animation: showup 1.5s;
  font-weight: bold;
}

.nav {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  padding: 0;
  z-index: 3;
}

@media (min-width: 900px) {
  .nav { grid-template-columns: repeat(3, 1fr); }
}
@media (max-width: 900px) {
  #blob {display: none;}
  h1{margin-bottom: 10vh;}
  .nav {margin: 0;}
}

.nav * {
  box-sizing: border-box;
  transition: all .35s ease;
}

.nav li {
  display: inline-block;
  list-style: outside none none;
  margin: .5em 1em;
  padding: 0;
}

.nav a {
  padding: .5em .8em;
  color: white;
  position: relative;
  text-decoration: none;
  font-size: 20px;
  user-select: none;
}
li:nth-child(1) {
  animation: showup 4s;
}
li:nth-child(2) {
  animation: showup 5s;
}
li:nth-child(3) {
  animation: showup 6s;
}
@keyframes showup {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/* @keyframes rotate {
  from {
    rotate: 0deg;
  }
  
  50% {
    scale: 1 1.5;
  }
  
  to {
    rotate: 360deg;
  }
}
#blob {
  height: 20vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, rgb(201, 76, 201), rgb(255, 180, 42));
  animation: rotate 20s infinite;
  opacity: 1;
  z-index: -1;
  overflow: hidden;
}
#blur {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  backdrop-filter: blur(10vmax);
} */